/* show only the first description paragraph on
ArgsTables except on the one in the API section */

h2:not(#api) ~ * > .docblock-argstable tbody tr:not([title]) td:nth-child(2) p:nth-child(n + 2) {
  display: none;
}

/* hide events on ArgsTables except on the one in the API section */

h2:not(#api) ~ * > .docblock-argstable tbody tr[title]:nth-of-type(n + 2),
h2:not(#api) ~ * > .docblock-argstable tbody tr[title]:nth-of-type(n + 2) ~ tr {
  display: none;
}

/* hide the last column of the API ArgsTable */

h2#api ~ * > .docblock-argstable thead th:nth-last-child(1),
h2#api ~ * > .docblock-argstable tbody tr:not([title]) td:nth-last-child(1) {
  display: none;
}

/* prevent ArgsTables textarea from being manually resized */

.docblock-argstable textarea {
  resize: none;
}

/* markdown */

.sbdocs h2,
.sbdocs h2:first-of-type {
  margin-top: 36px;
}

.sbdocs h3,
.sbdocs h3:first-of-type {
  margin-top: 36px;
}

.sbdocs h4,
.sbdocs h4:first-of-type {
  margin-top: 18px;
}
