.example {
  position: relative;
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  --height: 450px;
  width: 100%;
  margin: 0;
}

.example focal-point-mask {
  position: relative;
  height: var(--height);
  resize: none;
  animation: accordion 4.3s ease-in-out infinite 3s;
  z-index: 1;
}

.example::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--height);
  background-color: #eee;
}

.example.small {
  --height: 250px;
}

.example.small focal-point-mask {
  height: var(--height);
}

.example focal-point-mask ~ focal-point-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: visible;
  opacity: 0.25;
  pointer-events: none;
  z-index: 0;
  mix-blend-mode: multiply;
}

.example focal-point-mask ~ focal-point-mask img {
  filter: saturate(0);
}

.example img {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.example img.loaded {
  opacity: 1;
}

.example figcaption {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2ch;
  z-index: 2;
}

.example figcaption > * {
  margin: 0 1ch;
}

.example .caption-item {
  display: flex;
  align-items: center;
}

.example .caption-item span {
  font-family: "Operator Mono", "Fira Code Retina", "Fira Code", "FiraCode-Retina", "Andale Mono", "Lucida Console",Consolas,Monaco,monospace;
  display: inline-block;
  margin-left: 1ch;
  padding: 3px 5px;
  width: 6ch;
  text-align: center;
  overflow: hidden;
  line-height: 1;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 13px;
  border: 1px solid #EEEEEE;
  color: rgba(51,51,51,0.9);
  background-color: #F8F8F8;
}

.example-focalPoint .caption-item span {
  width: 12ch;
}

.side-by-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.side-by-side .example {
  padding-bottom: 2ch;
}

@keyframes accordion {
  0% {
    width: 100%;
  }
  15% {
    width: 100%;
  }
  30% {
    width: var(--resize, var(--height));
  }
  65% {
    width: var(--resize, var(--height));
  }
  80% {
    width: 100%;
  }
}
