.example {
  background-color: rgb(246, 249, 252);
}

.example focal-point-mask {
  height: 450px;
  resize: none;
}

.example focal-point-mask.loaded {
  animation: accordion 4.3s ease-in-out infinite 3s;
}

.example img {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.example img.loaded {
  opacity: 1;
}

.example .fp {
  position: absolute;
  display: none; /* find correct position first */
  width: 0px;
  height: 0px;
}

.example .fp::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  top: -3px;
  left: -3px;
  background-color: yellow;
}

@keyframes accordion {
  0% {
    width: 100%;
  }
  15% {
    width: 450px;
  }
  50% {
    width: 450px;
  }
  65% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
